---
import { getCollection } from 'astro:content';

import Layout from '@/layouts/Layout.astro';
import PostCard from '@/components/posts/PostCard.astro';
import { TAGS } from '@/constants/tags';

const posts = await getCollection('blog', ({ data }) => {
	return data.isDraft !== true
});

const recentPosts = posts
	.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
	.slice(0, 10);
---

<Layout>
	<p class="font-geist text-base tracking-tight leading-6 text-neutral-900 dark:text-neutral-100 text-pretty my-12">
		<span class="font-geist font-bold text-neutral-900/90 dark:text-neutral-100/90">¡Bienvenidos a Interstellar Code!</span> Aquí podrás encontrar consejos prácticos y guías sobre diversos temas, como tecnología, programación y desarrollo profesional. A través de este espacio, espero que encuentres ayuda e inspiración para tus proyectos y desafíos diarios. 
	</p>

	<h2 class="font-geist text-xl text-neutral-900/90 dark:text-neutral-100/90 font-semibold">
		Posts Recientes
	</h2>

	<section class="grid grid-cols-1 gap-4 mt-6">
		{recentPosts.map((post) => (
			<PostCard post={post} />
		))}
	</section>

	<div class="w-full mt-8 flex justify-center items-center">
		<a
			href="/blog/1"
			class="font-geist text-sm text-neutral-900 dark:text-neutral-100 px-6 py-2 rounded-lg border border-neutral-300/60 dark:border-neutral-700/60 hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-colors duration-200"
		>
			Ver más posts...
		</a>
	</div>

	<h2 class="font-geist text-xl text-neutral-900/90 dark:text-neutral-100/90 font-semibold mt-12">
		Todas las Categorías
	</h2>

	<ul class='flex flex-row flex-wrap mt-2 gap-2 mb-6'>
    {Object.keys(TAGS).map((tag: string) => {
			const tagData = TAGS[tag.toUpperCase()];
      const Icon = tagData?.icon || TAGS['DEFAULT'].icon;
			const tagName = tagData?.name || tag;

      return (
        <li>
          <a
						href={`/category/${tag.toLowerCase()}`}
            class={`flex items-center gap-x-2 rounded-full backdrop-blur-md text-xs font-bold font-mono ${TAGS[tag.toUpperCase()].class } py-2 px-4`}
          >
            {<Icon class='size-4' />}
            <span>{tagName}</span>
          </a>
        </li>
      )
    })}
  </ul>
</Layout>
