---
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <h1>
    Interstellar Code
  </h1>

  <ul>
    <li>
      <a href="/">
        <!--  -->
      </a>
    </li>
    
    <li>
      <!--  -->
    </li>

    <ThemeToggle />
  </ul>
</header>
