---
import SunIcon from "@/icons/general/Sun.astro";
import MoonIcon from "@/icons/general/Moon.astro";
---

<button
  id="theme-toggle-btn"
  class="border-none transition flex justify-center items-center p-2 hover:bg-neutral-300 dark:hover:bg-neutral-700 rounded cursor-pointer hover:*:-rotate-12"
>
  <span class="sr-only">Toggle Theme</span>

  <SunIcon
    id="light"
    class="hidden dark:block size-5 transition-all"
  />

  <MoonIcon
    id="dark"
    class="block dark:hidden size-5 transition-all"
  />
</button>

<script is:inline>
  let remove = null;
  const matchMedia = window.matchMedia("(prefers-color-scheme: dark)");

  const getThemePreference = () => {
    if (typeof localStorage !== "undefined") {
      return localStorage.getItem("theme") ?? "system";
    }

    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };

  const updateTheme = () => {
    if (remove != null) {
      remove();
    }

    matchMedia.addEventListener("change", updateTheme);

    remove = () => {
      matchMedia.removeEventListener("change", updateTheme);
    };

    const themePreference = getThemePreference();

    const isDark =
      themePreference === "dark" ||
      (themePreference === "system" && matchMedia.matches);

    document.documentElement.classList[isDark ? "add" : "remove"]("dark");
  };

  updateTheme();

  document.getElementById("theme-toggle-btn").addEventListener("click", () => {
    const currentTheme = getThemePreference();
    localStorage.setItem("theme", currentTheme === "dark" ? "light" : "dark");

    updateTheme();
  });
</script>
